{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <br>
  <style>
  .add-row {
    color: #191b80;
  }
  .delete-row {
    color:red;
    margin-right: 0.3em;
  }
  </style>
  <h1>Query Wizard will go here</h1>
  <form method="post">
  {% csrf_token %}
  {{ search_formset.management_form }}
  {% for search_form in search_formset %}
    <div class="search-formset">
    {{ search_form.search_attribute }}
    {{ search_form.operation }}
    {{ search_form.search_item }}
    {{ search_form.combine_choice }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Do something</button>
  </form>
  <!-- Include formset plugin - including jQuery dependency -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.search-formset').formset({
            addText: 'Add another search term',
            deleteText: 'remove'
    });
    </script>
  <!-- Make the autocomplete form work. Apparently putting it in the footer causes some conflict with base.html, and I have
  no idea why, so it goes here --!>
  {% for search_form in search_formset %}
    {{ search_form.media }}
  {% endfor %}
{% endblock %}

