{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}
  <br>
  <h2>Saved Queries</h2>
  <br>
  <table class="table table-hover table-bordered display compact" id="query-table">
    <thead>
      <tr>
        <td>Query Name</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
          {% for saved_query in saved_queries %}
            <tr>
                <td align="center">{{ saved_query }}</td>
                <td align="center"><a href="{% url 'data_wrapper:rerun_query' query_id=saved_query.id %}" class="btn btn-primary" role="button">Re-run Query</a></td>
                <td align="center"><a href="{% url 'data_wrapper:query_details' query_id=saved_query.id %}" class="btn btn-secondary" role="button">View Details</a></td>
                <td align="center"><a href="{% url 'data_wrapper:delete_query_confirm' query_id=saved_query.id %}" class="btn btn-danger" role="button">Delete Query</a></td>
            </tr>
          {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <script type="text/javascript">
      $(document).ready( function () {
        $.noConflict();  // For some reason datatable won't load until I add this, which the internet says is because
        // I have multiple versions of jQuery present somehow. However, when I don't have jQuery loaded here,
        // I get an error saying that jQuery isn't present when I try to use datatables. Go figure.
        $('#query-table').dataTable();
      });
  </script>
{% endblock %}
