{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}
  <br>
  <h2>SeqTracking CSV Upload</h2>
  <form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% if form.csv_file.errors %}
    <div class="alert alert-danger" style="width:400px; height: 50px;">
        {% for error in form.csv_file.errors %}
          <ul>{{ error }}</ul>
        {% endfor %}
    </div>
  {% endif %}
  {{ form.csv_file }}
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Upload</button>
  </form>
{% endblock %}
